*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 색깔
    #282c37
    #9baec8
    #d9e1e8
    #2b90d9
    #e1eef6
*/
/* 로딩애니메이션 */

.loading{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    animation: fadeout 6s;
    opacity: 0;
    pointer-events: none;
}
.loading span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #00000033;
    border-radius: 50%;
    animation: loading 1s 0s linear 3;
    opacity: 0;
}
.loading span:nth-child(1){
    animation-delay: 0s;
    background-color: red;
}
.loading span:nth-child(2){
    animation-delay: 0.2s;
    background-color: orange;
}
.loading span:nth-child(3){
    animation-delay: 0.4s;
    background-color: greenyellow;
}
@keyframes loading{
    0%,
    100%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
input[type=radio]{
    appearance: none;
 }
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
li{
    list-style: none;
}
hr{
    opacity: 0.5;
}
header{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 10px #00000020;
}
.inner{
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    display: flex;
}
.logo {
    width: 200px;
    height: 100px;
    text-align: center;
    align-content: center;
}
.logo img{
    width: 200px;
}
/* 네비게이션 */
.nav{
    margin-left: 100px;
    width: 600px;
    height: 100px;
}
.main_memu{
    display: flex;
}
.sub_memu{
    overflow: hidden;
    height: 0;
    transition: 0.3s;
}

.main_memu > li > a{
    width: 150px;
    height: 100px;
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 15;
    font-size: larger;
}
.sub_memu > li > a{
    height: 80px;
    text-align: center;
    align-content: center;
    color: #000;
}
.sub_memu > li:hover a{
    color: #079ed2;
}
.underline{
    border-bottom: 2px solid #079ed2;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.mega{
    width: 100%;
    height: 0px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    top: 100px;
    box-shadow: 0 2px 10px #00000020;
    transition: 0.3s;
}
#wrap:has(.nav:hover) .mega{
    height: 240px;
}
#wrap:has(.nav:hover) header{
    box-shadow: none;
}
#wrap:has(.mega:hover) header{
    box-shadow: none;
}
.main_memu:hover .sub_memu{
    height: 240px;
}
#wrap:has(.mega:hover) .sub_memu{
    height: 240px;
}
.mega:hover{
    height: 240px;
}
.main_memu > li:hover > a{
    color: #079ed2;
}
.main_memu > li:hover > .underline{
    transform: scale(1);
}

/* 유틸메뉴 */
.util{
    width: 440px;
    height: 100px;
    margin-left: 140px;
}
.util ul {
    display: flex;
}
.util li{
    padding: 0 20px;
    height: 100px;
    position: relative;
    align-content: center;
}
.util a:hover{
    text-decoration: underline;
}
.util li:last-child a::after{
    display: none;
}
.util a::after{
    content: "|";
    position: absolute;
    right: 0;
    color: #d9e1e8;
}
main{
    margin-top: 100px;
}
/* 섹션 */
main h1{
    text-align: center;
    padding: 100px 0;
}
section {
    width: 1440px;
    height: 700px;
    background-color: #f5f5f5;
    margin: 0 auto;
    display: flex;
}
.b , .d {
    background-color: #fff;
}
.img_box{
    width: 40%;
    text-align: center;
    align-content: center;
}
.img_box img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.text_box{
    width: 60%;
    text-align: center;
    align-content: center;
}
.text_box h2{
    font-size: 40px;
}
.text_box p{
    font-size: 21px;
}
/* 푸터 */
footer{
    width: 100%;
    height: 700px;
    background-color: #eee;
}
footer hr {
    color: #282c37;
    opacity: 1;
}
.footer_inner{
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
.footer_right{
    position: absolute;
    top: 100px;
    right: 0;
}
.footer_left{
    position: absolute;
    top: 100px;
    left: 0;
}
.service, .bank{
    white-space: pre-line;
    height: 275px;
}
.footer_inner .logo{
    width: 200px;
    height: 100px;
    text-align: left;
}
.copy{
    height: 70px;
}
.sns_box{
    height: 70px;
}
.info{
    height: 100px;
}
.abcdef{
    margin-top: 40px;
}
.sns_box img{
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: 0.3s;
}
.sns_box img:hover{
    filter: grayscale(0);
}

.motto_container {
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.motto_box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    margin: 0 5px 0 5px;
    width: 240px;
    height: 100%;
    background-size: 1200px 700px;
    background-position: var(--backposition) 50%;
    cursor: pointer;
}
.motto::after {
    width: 30px;
    height: 30px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    bottom: 37px;
    right: 30px;
    content: '↑';
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    color: white;
    rotate: 45deg;
    opacity: 0;
    transition: 0.5s;
}
.motto:hover::after {
    opacity: 1;
}
.motto_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    height: 44px;
    line-height: 44px;
}
.motto:hover .motto_text {
    opacity: 1 !important;
}
.motto:nth-child(1):hover ~ .motto:nth-child(5)::before {
    content: '고객신뢰를 바탕으로 행복한 사회를 추구하는 글로벌 기업';
}
.motto:nth-child(2):hover ~ .motto:nth-child(5)::before {
    content: '기업의 가치 혁신의 출발은 나눔을 시작으로 고객 가치를 탐험한다.';
}
.motto:nth-child(3):hover ~ .motto:nth-child(5)::before {
    content: '세계 기후변화 대응을 위해 100% 재생에너지로 생산된 제품만 선별한다.';
}
.motto:nth-child(4):hover ~ .motto:nth-child(5)::before {
    content: '다른 생각 다른 미래, 플랫폼 기반의 글로벌 미래 혁신을 선도한다.';
}
.motto:nth-child(5):hover::before {
    content: '글로벌 수준의 개인정보보호 및 보안 체계를 유지한다.';
}
.motto:nth-child(5)::before {
    width: 80%;
    height: 30%;
    position: absolute;
    top: 30px;
    content: '';
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.motto_box > .motto:nth-child(1) {
    background-image: url(images/motto/신뢰혁신.jpg);
}
.motto_box > .motto:nth-child(2) {
    background-image: url(images/motto/나눔혁신.jpg);
}
.motto_box > .motto:nth-child(3) {
    background-image: url(images/motto/환경혁신.jpg);
}
.motto_box > .motto:nth-child(4) {
    background-image: url(images/motto/미래혁신.jpg);
}
.motto_box > .motto:nth-child(5) {
    background-image: url(images/motto/보안혁신.jpg);
}