*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* 헤더 */

header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 2px 10px #00000020;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fff;
}
.inner{
    width: 1440px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 100px;
}
.logo img{
    width: 200px;
    height: 100px;
}
nav{
    margin-right: 100px;
}
.main_menu{
    display: flex;
}
.main_menu > li > a{
    width: 150px;
    height: 100px;
    text-align: center;
    align-content: center;
}
.sub_menu > li > a{
    width: 150px;
    height: 80px;
    text-align: center;
    align-content: center;
}
.sub_menu{
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-color: #fff;
}
.mega{
    width: 100%;
    height: 0px;
    position: fixed;
    top: 100px;
    box-shadow: 0px 2px 10px #00000020;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    z-index: 10;
}
#wrap:has(.mega:hover) .sub_menu , nav:hover .sub_menu,
#wrap:has(nav:hover) .mega, .mega:hover{
    height: 240px;
}

#wrap:has(.mega:hover) header, #wrap:has(nav:hover) header{
    box-shadow: none;
}
#wrap:has(nav:not(:hover)) header{
    transition-delay: 0.3s;
}
.underline{
    width: 100%;
    box-shadow: 0 0 0 1px #079ed2 ;
    transform: scale(0);
    transition: 0.3s;
}
.main_menu > li:hover .underline{
    transform: scale(1);
}
.sub_menu > li:hover > a{
    color: #079ed2;
}
.util ul{
    display: flex;
}
.util li{
    height: 100px;
    align-content: center;
    padding: 0 20px;
    position: relative;
}
.util a:hover{
    text-decoration: underline;
}
.util a::after{
    content: "|";
    position: absolute;
    right: 0;
    color: #ccc;
}
.util li:last-child a::after{
    display: none;
}


/* 이미지 슬라이드 */
.slide{
    overflow: hidden;
    margin-top: 100px;
    background-color: #000;
    font-size: 0;
}
.slide img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    opacity: 0.6;
}
.slide ul {
    white-space: nowrap;
    animation: slide infinite 12s;
}
.slide li{
    position: relative;
    display: inline-block;
    width: 100%;
}
.slide_text_box{
    width: 1440px;
    height: 700px;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}
.slide_text{
    margin-top: 150px;
    font-size: 25px;
    color: #fff;
}
.slide h2{
    font-size: 65px;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    28%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-100%);
    }
    61%{
        transform: translateX(-100%);
    }
    66%{
        transform: translateX(-200%);
    }
    94%{
        transform: translateX(-200%);
    }
    99%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.left_btn, .right_btn{
    position: absolute;
    font-size: 90px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.left_btn{
    left: 40px;
}
.right_btn{
    right: 40px;
}
.slide > ul:hover {
    animation-play-state: paused;
}


/* 컨텐츠 */
main{
    height: 10000px;
}

/* 타이틀 */
.title{
    width: 1440px;
    margin: 75px auto;
    overflow: hidden;
}
.title h2{
    position: relative;
    font-size: 32px;
}
.title h2::after{
    content: "";
    background-color: #000;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-left: 25px;
}

/* 추천상품 */

.category_box{
    width: 100%;
    padding: 20px;
    background-color: #eee;
}
.category{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.sell_list{
    margin-top: 40px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}
.sell_con{
    text-align: center;
}
.sell_con h3{
    font-size: 22px;
    margin-top: 20px;
}
.sell_con img{
    width: 320px;
    height: 320px;
    object-fit: cover;
    opacity: 0.9;
    transition: 0.5s;
}
.sell_con_img{
    width: 320px;
    height: 320px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    box-shadow: 0px 2px 10px #00000090;
}
.sell_con img:hover{
    transform: scale(1.1);
}
.sale span{
    width: 50px;
    height: 50px;
    background-color: #079ed2;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-align: center;
    align-content: center;
    font-weight: 600;
    box-shadow: 0px 2px 10px #00000090;
}