*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 색깔
    #282c37
    #9baec8
    #d9e1e8
    #2b90d9
    #e1eef6
*/
/* 로딩애니메이션 */
/* .loading{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    animation: fadeout 6s;
    opacity: 0;
}
.loading span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #00000033;
    border-radius: 50%;
    animation: loading 1s 0s linear 3;
    pointer-events: none;
    opacity: 0;
}
.loading span:nth-child(1){
    animation-delay: 0s;
    background-color: red;
}
.loading span:nth-child(2){
    animation-delay: 0.2s;
    background-color: orange;
}
.loading span:nth-child(3){
    animation-delay: 0.4s;
    background-color: greenyellow;
}
@keyframes loading{
    0%,
    100%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} */
input[type=radio]{
    appearance: none;
 }
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
li{
    list-style: none;
}
hr{
    opacity: 0.5;
}
header{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 10px #00000020;
}
.inner{
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    display: flex;
}
.logo {
    width: 200px;
    height: 100px;
    text-align: center;
    align-content: center;
}
.logo img{
    width: 200px;
}
/* 네비게이션 */
.nav{
    margin-left: 100px;
    width: 600px;
    height: 100px;
}
.main_memu{
    display: flex;
}
.sub_memu{
    overflow: hidden;
    height: 0;
}

.main_memu > li > a{
    width: 150px;
    height: 100px;
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 15;
    font-size: larger;
}
.sub_memu > li > a{
    height: 80px;
    text-align: center;
    align-content: center;
    color: #000;
}
.sub_memu > li:hover a{
    color: #079ed2;
}

.mega{
    width: 100%;
    height: 0px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    top: 100px;
    box-shadow: 0 2px 10px #00000020;
}
#wrap:has(.nav:hover) .mega{
    height: 240px;
    transition: 0.3s;
}
#wrap:has(.nav:hover) header{
    box-shadow: none;
}
#wrap:has(.mega:hover) header{
    box-shadow: none;
}
.main_memu:hover .sub_memu{
    height: 240px;
    transition: 0.3s;      
}
#wrap:has(.mega:hover) .sub_memu{
    height: 240px;
}
.mega:hover{
    height: 240px;
}
.main_memu > li:hover > a{
    border-bottom: #079ed2 3px inset;
    color: #079ed2;
}

/* 유틸메뉴 */
.util{
    width: 440px;
    height: 100px;
    margin-left: 140px;
}
.util ul {
    display: flex;
}
.util li{
    padding: 0 20px;
    height: 100px;
    position: relative;
    align-content: center;
}
.util a:hover{
    text-decoration: underline;
}
.util li:last-child a::after{
    display: none;
}
.util a::after{
    content: "|";
    position: absolute;
    right: 0;
    color: #d9e1e8;
}
/* 섹션 */
main{
    margin-top: 100px;
}
main h1{
    text-align: center;
    padding: 100px 0;
}
.contents section{
    margin-bottom: 200px;
}
.contents{
    width: 1440px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
}
.sell_con{
  width: 1440px;
  position: absolute;
  left: 0;
}
.sell_con ul{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.sell_con img{
  width: 375px;
  height: 225px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.sell_con li{
  width: 375px;
  height: 530px;
  position: relative;
  border-radius: 15px;
  background-color: #f4f5f9;
  color: #282c37;
  margin: 40px;
  text-align: left;
  box-shadow: 0px 2px 10px #00000030;
}
.top_info{
  width: 375px;
  height: 300px;
  position: relative;
}
.bot_info{
  width: 375px;
  height: 225px;
  position: relative;
  padding: 20px;               
}
.sale{
  width: 60px;
  height: 30px;
  background-color: #e3f1ff;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 40px;
  color: #079ed2;
  box-shadow: 0px 2px 8px #0000009d;
}
.sell_con h3{
    line-height: 30px;
    width: 340px;
    font-size: 25px;
    position: absolute;
    left: 20px;
    height: 75px;
    margin-top: 8px;
}
.sell_con del{
    color: #ccc;
}
.price1 span{
    color: #ce2929;
    font-size: 18px;
    font-weight: 600;
}
.price1,.price2{
    display: flex;
    justify-content: space-between;
    font-weight: 550;
}
.benefit{
    margin-top: 8px;
    position: absolute;
    color: #aaa;
    font-size: small;
}

.cart{
    width: 150px;
    height: 50px;
    color: #079ed2;
    border: 1px solid #079ed2;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    position: absolute;
    bottom: 15px;
    left: 30px;
}
.buy{
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: #079ed2;
    position: absolute;
    bottom: 15px;
    right: 30px;
}
/* 푸터 */
footer{
    width: 100%;
    height: 700px;
    background-color: #eee;
}
footer hr {
    color: #282c37;
    opacity: 1;
}
.footer_inner{
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}
.footer_right{
    position: absolute;
    top: 100px;
    right: 0;
}
.footer_left{
    position: absolute;
    top: 100px;
    left: 0;
}
.service, .bank{
    white-space: pre-line;
    height: 275px;
}
.footer_inner .logo{
    width: 200px;
    height: 100px;
    text-align: left;
}
.copy{
    height: 70px;
}
.sns_box{
    height: 70px;
}
.info{
    height: 100px;
}
.abcdef{
    margin-top: 40px;
}
.sns_box img{
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: 0.3s;
}
.sns_box img:hover{
    filter: grayscale(0);
}